#job-card-footer{
    color: #000;
}
#job-card:hover #job-card-footer {
    color: #973BE8 !important;
    
}
#location{
    cursor: default !important;
}
/* #job-card:hover .card_title {
    color: #973BE8 !important;
    
} */